* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
  position: relative;
}

body {
  background-color: #d9afd9;
  /* background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%); */

  background-image: radial-gradient(
      circle at 25% 54%,
      rgba(18, 18, 18, 0.06) 0%,
      rgba(18, 18, 18, 0.06) 22%,
      transparent 22%,
      transparent 100%
    ),
    radial-gradient(
      circle at 67% 98%,
      rgba(223, 223, 223, 0.06) 0%,
      rgba(223, 223, 223, 0.06) 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 7% 92%,
      rgba(169, 169, 169, 0.06) 0%,
      rgba(169, 169, 169, 0.06) 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 46% 37%,
      rgba(187, 187, 187, 0.06) 0%,
      rgba(187, 187, 187, 0.06) 47%,
      transparent 47%,
      transparent 100%
    ),
    radial-gradient(
      circle at 38% 35%,
      rgba(57, 57, 57, 0.06) 0%,
      rgba(57, 57, 57, 0.06) 99%,
      transparent 99%,
      transparent 100%
    ),
    radial-gradient(
      circle at 46% 86%,
      rgba(100, 100, 100, 0.06) 0%,
      rgba(100, 100, 100, 0.06) 60%,
      transparent 60%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(57, 8, 200), rgb(240, 145, 202));
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #d8a0d8;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #d8a0d8;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
  /* margin: 20% 0 0 0; */
}

/* .todo-list::-webkit-scrollbar {
  display: none;
} */

.todo-list-scroll {
  height: 311px;
  overflow-y: auto;
  overflow-x: hidden;
  width: fit-content;
  padding: 0 20px;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5px 9px rgba(0, 0, 0, 0.1);
  /* transition: all 1s ease; */
  transition: transform 0.5s;
}

.todo:hover {
  background: #d8a0d8;
  transform: scale(1.1);
  z-index: 100;
  box-shadow: 0.5px 9px rgba(0, 0, 0, 0.2);
}

.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ce0cce;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #d8a0d8;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
  .select:hover::after {
    transform: scale(1.5);
  }
  */

.quote_container {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote_author {
  transition: all;
  font-size: 13.25px;
  text-align: center;
}
.hide {
  display: none;
}

.quote_text {
  font-size: 13.25px;
}
.quote_text:hover + .hide {
  transform: scale(1.1);
  display: block;
}

.progress_container {
  display: flex;
  justify-content: center;
}

.progress {
  width: 70%;
  height: 22px;
  border-bottom-left-radius: 20px 50px;
  border-top-left-radius: 20px 50px;
  border-bottom-right-radius: 20px 50px;
  border-top-right-radius: 20px 50px;
  border: 1px solid white;
  background-color: white;
  padding: unset;
}
.progress_bar {
  height: 100%;
  background-image: repeating-linear-gradient(
      45deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      135deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    linear-gradient(90deg, rgb(41, 27, 158), rgb(249, 77, 212));
  transition: all 0.3s;
  border-bottom-left-radius: 20px 50px;
  border-top-left-radius: 20px 50px;
  border-bottom-right-radius: 20px 50px;
  border-top-right-radius: 20px 50px;
  padding: unset;
  margin: unset;
  text-align: center;
}

.progress_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
